@mixin min($min) {
	@media screen and (min-width:#{calc($min + 1)}px) {
		@content;
	}
}

@mixin max($max) {
	@media screen and (max-width:#{$max}px) {
		@content;
	}
}

@mixin minmax($min, $max) {
	@media screen and (min-width:#{calc($min + 1)}px) and (max-width:#{$max}px) {
		@content;
	}
}

@mixin if($s) {
	@if $site ==$s {
		@content;
	}
}

@mixin preloader {
	background-repeat: no-repeat;
	background-position: center;
	background-size: 80px;

	@include if('2steblya') {
		background-image: url('https://static.tildacdn.com/tild3166-6562-4664-b130-306130363266/preloader.gif') !important;
	}

	@include if('stf') {
		background-image: url('https://static.tildacdn.com/tild3532-3861-4264-b965-303066346262/preloader.gif') !important;
	}
}

@mixin navButton($prev, $next) {
	width: 30px !important;
	height: 30px !important;
	background-color: $contrprimary-color;
	cursor: pointer;
	border-radius: 50%;
	padding: 0;
	border: 0 none;
	display: flex;
	justify-content: center;
	align-items: center;

	& * {
		width: 0;
		height: 0;
		position: absolute;
		top: -9999px;
	}

	&::before {
		font-family: $text-font;
		font-size: 17px;
	}

	@at-root {
		#{$prev}::before {
			content: '<';
		}

		#{$next}::before {
			content: '>';
		}
	}
}