$site: '2steblya_white';
$card-font: 'Source Code Pro', Arial, sans-serif;
$text-font: 'Source Code Pro', Arial, sans-serif;
$heading-font: 'Source Code Pro', Arial, sans-serif;
$text-font-size: 18px;
$font-weight: 300;
$color-1: #fff;
$color-2: #ff008c;
$color-3: #ff9dd3;
$color-0: #000;