$site: 'stf';
$card-font: 'FuturaPT', Arial, sans-serif;
$text-font: 'FuturaPT', Arial, sans-serif;
$heading-font: 'FuturaPT', Arial, sans-serif;
$text-font-size: 20px;
$primary-color: #fff;
$secondary-color: #e184b0;
$third-color: #f9d65e;
$fourth-color: #77b5e4;
$fifth-color: #faa330;
$contrprimary-color: #000;