$site: 'stf';
$card-font: 'FuturaPT', Arial, sans-serif;
$text-font: 'FuturaPT', Arial, sans-serif;
$heading-font: 'Ubuntu', Arial, sans-serif;
$text-font-size: 16px;
$primary-color: #fff;
$secondary-color: #ff7575;
$contrprimary-color: #000;