$site: '2steblya';
$card-font: 'Source Code Pro', Arial, sans-serif;
$text-font: 'Source Code Pro', Arial, sans-serif;
$heading-font: 'Ubuntu', Arial, sans-serif;
$text-font-size: 18px;
$primary-color: #000;
$secondary-color: #ff008c;
$contrprimary-color: #fff;