$site: 'stf';
$card-font: 'FuturaPT', Arial, sans-serif;
$text-font: 'FuturaPT', Arial, sans-serif;
$heading-font: 'FuturaPT', Arial, sans-serif;
$text-font-size: 20px;
$font-weight: 300;
$color-1: #fff;
$color-2: #e184b0;
$color-3: #f9d65e;
$color-4: #77b5e4;
$color-5: #faa330;
$color-0: #000;