$site: 'gvozdisco';
$card-font: 'Source Code Pro', Arial, sans-serif;
$text-font: 'Source Code Pro', Arial, sans-serif;
$heading-font: 'Barcade', Arial, sans-serif;
$text-font-size: 18px;
$font-weight: 400;
$color-1: #000;
$color-2: #ff008c;
$color-3: #81e10f;
$color-0: #fff;