$site: 'dorogobogato';
$card-font: 'FuturaPT', Arial, sans-serif;
$text-font: 'FuturaPT', Arial, sans-serif;
$heading-font: 'FuturaPT', Arial, sans-serif;
$text-font-size: 20px;
$primary-color: #fff;
$secondary-color: #e184b0;
$contrprimary-color: #000;