&__carticon {
	background-color: $color-1;
	z-index: 2001;
	padding: 0;
	top: 0;
	right: 0;

	@include if('stf') {
		display: none;
	}

	@include min(980) {
		padding: 20px;
	}

	&.uponHeader {
		top: 70px;

		@include if('gvozdisco') {
			top: 120px
		}
	}

	&-wrapper {
		transform: scale(0.64);
		cursor: pointer;

		@include min(980) {
			transform: scale(1);
		}
	}

	&-imgwrap {
		box-shadow: none;
		border-radius: 0;
		background: none;
	}

	&-counter {
		background-color: $color-2;

		@include if('2steblya_white') {
			bottom: 27px !important;
			right: 0 !important;
		}
	}
}