.t_datepicker {
	&__inner {
		border-radius: 0;

		@include if('stf') {
			border-color: rgba($color-0, .2);
		}

		* {
			text-align: center;
		}
	}

	&__header {
		color: $color-1 !important;
		background: $color-2 !important;

		@include if('2steblya_white') {
			color: $color-0;
			background-color: rgba($color-0, .1) !important;
		}

		@include if('stf') {
			color: $color-0;
			background-color: rgba($color-0, .1) !important;
		}

		@include if('dorogobogato') {
			color: $color-0;
			background-color: rgba($color-0, .1) !important;
		}
	}

	&__body {
		* {
			color: $color-1;
			font-size: .9em !important;

			@include if('2steblya_white') {
				color: $color-0;
			}

			&::before {
				display: none !important;
			}
		}
	}

	&__label {
		text-decoration: none;
		color: $color-0;
	}

	&__select {
		option {
			color: $color-1;
		}
	}

	&__arrow {
		opacity: 1;

		&_prev::after {
			border-right-color: $color-0 !important;
		}

		&_next:after {
			border-left-color: $color-0 !important;
		}
	}

	&__week-day {
		background: $color-1 !important;
		color: $color-0 !important;
		font-weight: 600;
		text-transform: uppercase;
	}

	&__selected-day {
		background: $color-2;
		color: $color-0;
	}

	&__day-cell {
		padding: 8px;

		@include if('stf') {
			color: $color-0;
		}
	}

	&__specialDate {
		font-size: 10px;
		display: table-cell;
		padding: 8px;
		padding: 1px 4px;

		@include if('2steblya') {
			color: $color-1;
			background-color: rgba($color-1, .1);
		}

		@include if('gvozdisco') {
			color: $color-1;
			background-color: rgba($color-1, .1);
		}

		@include if('stf') {
			color: $color-0;
			background-color: rgba($color-0, .1);
		}
	}

	&__disclaimer {
		opacity: .5;
		font-size: .7em !important;

		& * {
			font-size: 1em !important;
		}
	}
}