.t-datepicker {
	&__wrapper {
		max-width: unset;
	}

	&__icon {
		@include if('stf') {
			opacity: .2;
		}
	}
}

.t_datepicker {
	&__inner {
		border-radius: 0;

		@include if('stf') {
			border-color: rgba($contrprimary-color, .2);
		}

		* {
			text-align: center;
		}
	}

	&__header {
		@include if('2steblya') {
			color: $primary-color;
			background: $secondary-color;
		}

		@include if('stf') {
			color: $contrprimary-color;
			background-color: rgba($contrprimary-color, .1);
		}
	}

	&__body {
		* {
			color: $primary-color;
			font-size: .9em !important;

			&::before {
				display: none !important;
			}
		}
	}

	&__label {
		text-decoration: none;
		color: $contrprimary-color;
	}

	&__select {
		option {
			color: $primary-color;
		}
	}

	&__arrow {
		opacity: 1;

		&_prev::after {
			border-right-color: $contrprimary-color;
		}

		&_next:after {
			border-left-color: $contrprimary-color;
		}
	}

	&__week-day {
		background: $primary-color;
		color: $contrprimary-color;
		font-weight: 600;
		text-transform: uppercase;
	}

	&__selected-day {
		background: $secondary-color;
		color: $contrprimary-color;
	}

	&__day-cell {
		padding: 8px;

		@include if('stf') {
			color: $contrprimary-color;
		}
	}

	&__specialDate {
		font-size: 10px;
		display: table-cell;
		padding: 8px;
		padding: 1px 4px;

		@include if('2steblya') {
			color: $primary-color;
			background-color: rgba($primary-color, .1);
		}

		@include if('stf') {
			color: $contrprimary-color;
			background-color: rgba($contrprimary-color, .1);
		}
	}

	&__disclaimer {
		opacity: .5;
		font-size: .9em !important;
	}
}