@import '!mixins';

body {
	background-color: $primary-color;
	background-image: none;
}

#allrecords {
	visibility: visible;
	@import 'base';
}

@import 'forms';
@import 'menu';
@import 'products';
@import 'cart';
@import 'tildaBlocks';
@import 'customBlocks';
@import 'imageViewer';
@import 'owlCarousel';
@import 'products-catalog-owl';
@import 'products-catalog-vitrina';