.t-form {

	.t-radio__indicator,
	.t-checkbox__indicator {
		background: $color-0;
		border: 0 none;
		box-sizing: content-box;

		@include if('stf') {
			background: $color-1;
			border: 1px solid rgba($color-0, .2);
		}

		@include if('2steblya_white') {
			background: $color-1;
			border: 1px solid rgba($color-0, .2);
		}

		border-radius: 5%;
		width: 30px;
		height: 30px;
		margin-right: 15px;

		opacity: 1;

		&::after {
			background: $color-2;
			border-radius: 0;
			width: 20px;
			height: 20px;
			position: absolute;
			top: 5px;
			left: 5px;
			bottom: 0;
			right: 0;
			transform: none;
			border: 0 none;
			margin: 0;
		}
	}

	.t-radio__control,
	.t-checkbox__control {
		padding-left: 0 !important
	}

	//errors
	&__errorbox {

		&-wrapper {
			background: none !important;
		}

		&-middle {
			display: none !important;
		}

		&-text {
			color: $color-2;
			font-size: $text-font-size;
			font-weight: 300;
		}
	}

	.js-error-control-box {

		.t-checkbox__control,
		.t-checkboxes__wrapper,
		.t-input:not(.t-input-phonemask),
		.t-radio__wrapper,
		.t-select,
		.uploadcare-widget {
			border: 1px solid $color-2;

			@include if('2steblya') {
				border: 0 none !important;
			}
		}

		.t-radio__wrapper {
			padding: 0;
		}
	}

	.t-input-error {
		color: $color-2;
		font-size: $text-font-size;
		font-weight: 300;
	}

	//кнопка
	.t-form__submit {
		button {
			opacity: 1 !important;
		}
	}

	//сообщение после отправки
	.js-successbox {
		background-color: $color-1;
		color: $color-0 !important;

		@include if('2steblya') {
			background-image: url(https://static.tildacdn.com/tild3336-3465-4761-b837-303532313734/zaebca.jpg);
		}

		@include if('stf') {
			background-image: url();
		}

		background-size: 360px;
		background-repeat: no-repeat;
		background-position: center 100px;
		padding: 480px 120px 120px 120px;
		display: block;
		position: fixed;
		top: 0;
		left: 0;
		width: 100vw;
		height: 100vh;
		z-index: 99999;
		box-sizing: border-box;

		& * {
			text-align: center !important;
		}

		a {
			color: $color-2 !important;
		}

		&::before {
			@include if('2steblya') {
				content: 'ЗАШИБОК!';
			}

			@include if('stf') {
				content: 'ФОРМА ОТПРАВЛЕНА';
			}

			text-align: center;
			font-size: 52px;
			line-height: 1.1;
			font-weight:600;
			text-transform: uppercase;
			display: block;
			margin-bottom:20px;
		}
	}
}