.t-zoomer {
	&__container {
		background: $color-1 !important;
		color: $color-0 !important;

		.t-carousel__zoomer__arrow__wrapper::before {
			display: none
		}
	}

	&__close {
		background: $color-1 !important;

		svg {
			fill: $color-0;
			stroke: $color-0;
		}
	}
}