.tmenu {

	//мобилки
	&-mobile {
		@include min(980) {
			&__menucontent_hidden {
				display: block !important;
				opacity: 1 !important;
			}
		}

		@include max(980) {
			background-color: transparent !important;
			z-index: 10000 !important;
			position: fixed !important;
			top: 0;
			left: 0;
			width: auto !important;

			&__menucontent_hidden {
				max-height: 100vh !important;
				height: 100vh !important;
				top: 0 !important;
				position: fixed !important;
				background-color: $color-1;
			}

			&__container {
				background: $color-1;
				min-height: 60px !important;
				width: 60px;
				padding: 20px 16px !important;

			}

			&__text {
				display: none;
			}
		}
	}
}

.t-menuwidgeticons__icon-counter {
	background-color: $color-2 !important;
}