//.js-product

//узнать больше
.product__optionReadMore {
	@include btn;

	font-size: 12px !important;
	font-weight: 400 !important;
	white-space: nowrap;
	padding: 10px 15px;
	height: auto;
	vertical-align: middle;
	text-align: center;
	margin-left: 10px;
	position: absolute;

	@include max(980) {
		position: static;
		margin-top: 10px;
	}

	@include if('2steblya') {
		color: $color-0 !important;
		font-family: $heading-font;
	}

	@include if('2steblya_white') {
		color: $color-1 !important;
		font-family: $heading-font;
	}

	@include if('gvozdisco') {
		color: $color-0 !important;
		font-size: 14px !important;
		padding: 9px 15px;
		text-transform: lowercase;
	}

	@include if('stf') {
		color: $color-1 !important;
		font-family: $heading-font;
	}

	&[href*="undef"] {
		display: none;
	}
}

//опции
.t-product__option-variants {
	@include max(980) {
		margin: 0 auto;
	}
}

$hide_options: '';

@include if('2steblya') {
	$hide_options: 000,
		//донат (выебри карточку)
		857613433221,
		//loveis (loveis)
		896292515801,
		103878497051,
		448865187471,
		260954710551,
		205136042441,
		900932199741,
		227549887751,
		261571212781;
}

@include if('stf') {}

@each $id in $hide_options {
	&[data-product-gen-uid="#{$id}"] .js-product-option:nth-child(2) {
		display: none;
	}
}