//.t-store
//меню
$menu_costumized: (
);

@include if('2steblya') {
	$menu_costumized: ( //новый год
		539199854821: 'https://static.tildacdn.com/tild3738-6161-4362-a230-616135653463/santaHat.png',
		//8 марта
		894609841681: 'https://static.tildacdn.com/tild3735-6134-4761-a230-353138316165/flower.png'
	);
}

@include if('stf') {
	$menu_costumized: ();
}

&__parts-switch {
	&-wrapper {
		position: relative;
		z-index: 2;
	}

	&-btn {
		opacity: 1 !important;
		text-transform: uppercase;

		a {
			color: $contrprimary-color !important;
		}

		@mixin menu_item_with_icon($url) {
			content: '';
			display: block;
			width: 25px;
			height: 25px;
			position: absolute;
			top: 0;
			right: 0;
			background-size: contain;
			background-image: url($url);
			background-repeat: no-repeat;
			transform: translate(13px, -8px) rotate(25deg);
		}

		@each $key,
		$value in $menu_costumized {
			&[data-storepart-uid="#{$key}"]::after {
				@include menu_item_with_icon(#{$value});
			}
		}
	}
}