//.t-store
&__card {
	margin-bottom: 100px;
	display: inline-block;
	float: none;
	vertical-align: top;

	//карточка
	.card__container {
		@media screen and (max-width:960px) {
			& {
				display: none;
			}
		}
	}

	&__textwrapper {
		@include if('gvozdisco') {
			display: flex;
			flex-direction: column;
			align-items: center;
			width: 100%;
		}
	}

	//заголовок
	&__title {
		@include if('stf') {
			font-size: calc($text-font-size + 2px) !important;
			font-weight: 400;
		}

		@include if('gvozdisco') {
			font-size: $text-font-size !important;
			background-color: $primary-color;
			display: inline-block;
			width: auto;
			padding: 5px 10px;
		}
	}

	//артикул
	&__sku,
	&__prod-popup__sku {
		display: none;
	}

	//селекты
	&__prod-controls-wrapper {
		display: none !important;
	}

	//цена
	&__price-wrapper {
		@include if('gvozdisco') {
			background-color: $primary-color;
			display: inline-block;
			padding: 0 10px;
			width: auto;
			margin: 5px 0;
		}
	}

	&__price,
	&__price_old {
		@include if('stf') {
			font-size: $text-font-size;
			font-weight: 100 !important;
		}
	}

	&__price_old {
		margin: 0 10px;

		& * {
			font-size: 14px;
			color: rgba($contrprimary-color, .5)
		}
	}

	&__price {
		.multiplePrices &:not(&_old) &-value::before {
			content: 'от ';
			font-weight: 300;
			opacity: .5;
			font-size: 14px;
		}
	}

	//видео превью
	&__bgimg_second {
		.videoPreview_cont {
			width: 100%;
			height: 0;
			padding-bottom: 110%;
			position: relative;
			overflow: hidden;
			background-color: $primary-color;

			video {
				position: absolute;
				top: 50%;
				left: 50%;
				min-width: 100%;
				min-height: 100%;
				width: auto;
				height: auto;
				transform: translate(-50%, -50%);
			}
		}
	}

	//кнопка
	&__btns-wrapper {
		margin-top: 25px !important;

		@include max(980) {
			justify-content: center;
		}
	}
}


//soldOut
&__sold-out-msg {
	color: $secondary-color;
	font-weight: 600;
	text-transform: uppercase !important;
}

&__btn {
	margin: 0;
}