.uc-projectsBanners {
	.t688 {
		&__col {
			padding: 0;
			width: 100%;
			max-width: unset;
			float: none;
		}

		&__textwrapper {
			display: none;
		}

		&__img {
			background-size: contain;
			opacity: 1 !important;
		}

		&__img-separator {
			padding-top: 36.09%;

			@include max(960) {
				padding-top: 95.61%;
			}
		}
	}

	.owl-nav {
		display: block;
		top: 50%;
	}
}