.uc-hit {

	&__catalog {

		//каталог
		.t-store {
			@media screen and (max-width:700px) {
				padding: 0 30px;
			}
		}

		.owl {
			&-stage-outer {
				padding-left: 10px;

				@media screen and (max-width:960px) {
					padding-left: 0;
				}
			}
		}


		//товар
		.t-store__grid-cont {
			padding: 0 !important;

			.js-product {
				padding: 0 !important;
				width: 100% !important;
				margin-bottom: 0 !important;
				margin-left: 0;
				margin-right: 0;

				@media screen and (max-width:700px) {
					max-width: 360px;
				}

				.card {
					&__container {
						padding: 25px;

						&::before {
							display: none;
						}
					}

					@media screen and (max-width:1200px) {
						&__title {
							font-size: 1.6em !important;
						}

						&__text,
						&__buket {
							font-size: .8em;
						}
					}

					&__your-text {
						display: none;
					}
				}
			}
		}
	}
}