//.t-store
&__card {
	margin-bottom: 100px;
	display: inline-block;
	float: none;
	vertical-align: top;

	//карточка
	.card__container {
		@media screen and (max-width:960px) {
			& {
				display: none;
			}
		}
	}

	//заголовок
	&__title {
		@include if('stf') {
			font-size: calc($text-font-size + 2px) !important;
			font-weight: 400;
		}
	}

	//артикул
	&__sku,
	&__prod-popup__sku {
		display: none;
	}

	//селекты
	&__prod-controls-wrapper {
		display: none !important;
	}

	//цена
	&__price,
	&__price_old {
		@include if('stf') {
			font-size: $text-font-size;
			font-weight: 100 !important;
		}
	}

	&__price {
		.multiplePrices &:not(&_old) &-value::before {

			content: 'от ';
			font-weight: 300;
			opacity: .5;

			@include if('2steblya') {
				font-size: 14px;
			}
		}
	}

	//кнопка
	&__btns-wrapper {
		margin-top: 25px !important;

		@include max(980) {
			justify-content: center;
		}
	}
}


//soldOut
&__sold-out-msg {
	color: $secondary-color;
	font-weight: 600;
	text-transform: uppercase !important;
}

&__btn {
	margin: 0;
}