//.js-product
.t-slds {

	//кнопки навигации
	&__arrow_wrapper {
		margin: 0 7px;
	}

	&__arrow {
		@include navButton(&+'-left', &+'-right');

		&-left {
			left: 5px;

			&::before {
				content: '<';
			}
		}

		&-right {
			right: 5px;

			&::before {
				content: '>';
			}
		}

	}

	//буллиты
	&__thumbsbullet {
		&-border {
			border: 0 none !important;
		}

		@at-root #{selector-replace(&,'.js-product','.js-product:not(.noCard)')} {
			&:nth-child(2) {
				background: $secondary-color;

				&::after {
					content: 'карт очка';
					text-transform: uppercase;
					font-weight: 900;
					font-size: 16px;
					line-height: .9;
					font-family: $card-font;
					width: 100%;
					text-align: center;
					display: block;
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
					color: $primary-color;
				}

				.t-slds__bgimg {
					visibility: hidden;
				}
			}
		}
	}
}