//.t-store
//меню
$menu_costumized: (
);

@include if('2steblya') {
	$menu_costumized: (
		//новый год
		669802060861: 'https://static.tildacdn.com/tild3738-6161-4362-a230-616135653463/santaHat.png',
		//8 марта
		894609841681: 'https://static.tildacdn.com/tild3735-6134-4761-a230-353138316165/flower.png'
	);
}

@include if('stf') {
	$menu_costumized: (
	);
}

&__parts-switch {
	&-wrapper {
		position: relative;
		z-index: 2;

		@include if('2steblya') {
			margin-bottom: 15px !important;
		}
	}

	&-btn {
		opacity: 1 !important;
		text-transform: uppercase;

		@include if('2steblya') {
			margin: 0 15px 5px 15px !important;
			font-size: 22px !important;
		}

		a {
			color: $contrprimary-color !important;
		}

		@mixin menu_item_with_icon($url) {
			content: '';
			display: block;
			width: 25px;
			height: 25px;
			position: absolute;
			top: 0;
			right: 0;
			background-size: contain;
			background-image: url($url);
			background-repeat: no-repeat;
			transform: translate(13px, -8px) rotate(25deg);
		}

		@each $key,
		$value in $menu_costumized {
			&[data-storepart-uid="#{$key}"]::after {
				@include menu_item_with_icon(#{$value});
			}
		}
	}
}

&__filter {
	margin-bottom: 0 !important;

	&__show {
		margin: 0 20px 50px 20px;
		@include btn;

		@media screen and (max-width:976px) {
			margin-left: auto;
			margin-right: auto;
			float: none;
		}

		@include if('2steblya') {
			&::after {
				content: 'фильтровать базар';
			}
		}

		@include if('stf') {
			&::after {
				content: 'фильтры, поиск, сортировка';
			}
		}
	}

	&__hide {
		position: absolute;
		top: -20px;
		right: 10px;
		background-position: 10px center;
		background-repeat: no-repeat;
		cursor: pointer;
		background-color: $primary-color;
		color: $contrprimary-color;
		font-family: $text-font;
		font-size: $text-font-size;
		font-weight: 300;
		padding: 5px 10px 10px 27px;

		@include if('2steblya') {
			background-image: url(https://static.tildacdn.com/tild3461-3062-4536-a634-333134363361/smallCross.png);
		}

		&::after {
			content: 'скрыть';
		}

		@media screen and (max-width:640px) {
			top: 20px;
			right: 20px;
			background-size: contain;
			background-position: center;
			padding: 0;
			width: 20px;
			height: 20px;

			@include if('2steblya') {
				background-image: url(https://static.tildacdn.com/tild3134-6634-4361-b963-326263663332/bigCross.png);
			}

			&::after {
				content: '';
			}
		}
	}

	&__controls-wrapper {
		text-align: center;
		display: block !important;
	}

	&__search-mob-btn {
		display: none !important;
		margin: 0;
		opacity: 1 !important;
		@include btn;

		svg {
			display: none
		}

		&::after {
			white-space: nowrap;
			font-weight: 700;
			line-height: 60px;
			content: 'поиск и сортировка';

			@include if('2steblya') {
				content: 'поиск и сортир овка'
			}
		}
	}

	&__options {
		display: flex !important;
		flex-wrap: wrap;
		justify-content: space-between;

		@media screen and (max-width:400px) {
			justify-content: center;
		}
	}

	&__item {
		margin: 0 !important;
		border: 0 none !important;
		white-space: nowrap;

		@media screen and (max-width:960px) {
			flex-basis: 50%;
			display: flex !important;
			justify-content: center;
			flex-wrap: wrap;
			align-content: start;
			padding: 0 !important;
		}

		@media screen and (max-width:400px) {
			/*flex-basis: 100%;*/
		}
	}

	&__item_available {
		display: none !important;
	}

	&__item-title {
		max-width: unset !important;
		padding: 0 !important;
		cursor: default !important;
		opacity: 1 !important;
		text-transform: uppercase;
		text-align: left;

		&::after {
			content: ':' !important;
			border: 0 none !important;
			width: auto !important;
			height: auto !important;
			position: static !important;
			transform: none !important;
		}

		@media screen and (max-width:960px) {
			text-align: center;
			width: 100%;
		}
	}

	&__item-controls-wrap {
		display: block !important;
		position: static !important;
		background-color: transparent !important;
		box-shadow: none;
		border-radius: 0;
		margin-bottom: 20px;
		min-width: unset !important;
	}

	&__item-controls-container {
		padding: 0 !important;
	}

	&__item_checkbox {
		min-width: unset !important;
	}

	&__checkbox {
		margin-bottom: 0 !important;

		.t-checkbox__indicator {
			background-color: #fff;
			width: 20px;
			height: 20px;
			opacity: 1 !important;

			&::after {
				border: 0 none;
				width: 10px;
				height: 10px;
				background-color: $secondary-color;
				top: 3px;
				left: 3px;
				transform: none;
			}
		}
	}

	&__item-price-box {
		padding: 0 !important;

		input {
			width: 82px !important;

			@media screen and (min-width:960px) {
				width: 100px !important;
			}
		}

		button {
			float: none !important;
			display: block;
			margin-top: 12px;
			margin-left: 43px !important;
			width: 40px !important;
			padding: 0 !important;
			height: auto !important;
		}

		&::before {
			content: 'от: ';
		}

		span {
			font-family: $text-font;
			font-weight: 100;
			text-indent: -9999px;
			overflow: hidden;
			font-size: 0px;
			color: transparent;

			&::before {
				content: '';
				display: block;
				height: 12px;
			}

			&::after {
				content: 'до: ';
				color: $contrprimary-color;
				font-size: 18px;
			}
		}
	}

	&__btn {
		@include btn;
		padding: 0 7px !important;
	}

	&__item_sort-mobile,
	&__opts-mob-btn,
	&__search-mob-btn {
		display: none !important;
	}

	&__search-and-sort {
		display: block !important;
		margin: 0 !important;

		&>div {
			display: block !important;
			width: auto;
			max-width: 350px;
			margin: 0 auto;

			&:first-child {
				margin-bottom: 20px;
			}
		}

		@media screen and (min-width:961px) {
			&>div {
				&:first-child {
					float: left;
					margin: 0;
				}

				&:last-child {
					float: right;
				}
			}

			&::after {
				content: '';
				display: block;
				clear: both;
			}
		}
	}

	&__sort {
		&>div {
			display: block;
			width: auto;
			margin: 0;
		}
	}

	&__search {
		input {
			width: 100% !important;
		}
	}

	&__chosen-bar {
		text-align: left;
		display: block !important;

		@media screen and (max-width:960px) {
			text-align: center;
		}
	}

	&__chosen-wrapper {
		margin: 10px 0 0 0 !important;

		div {
			&:hover {
				opacity: 1 !important;
			}
		}
	}

	&__chosen-val {
		margin: 10px 10px 0 0 !important;
		border-radius: 5px !important;
		text-transform: lowercase;
		background-image: url(https://static.tildacdn.com/tild3461-3062-4536-a634-333134363361/smallCross.png);
		background-position: 20px center;
		background-repeat: no-repeat;
		padding: 6px 20px 9px 40px !important;

		&::after {
			display: none;
		}

		@media screen and (max-width:960px) {
			margin: 10px 5px 0 5px !important;
		}
	}

	&__reset {
		display: none !important;
		padding: 6px 20px 9px 20px !important;
		background-color: $secondary-color;
		border-radius: 5px !important;
		border: 0 none !important;
		line-height: 1.4 !important;
		margin-left: 0 !important;
		margin-top: 10px;
		text-transform: lowercase;

		@media screen and (max-width: 960px) {
			margin-left: 5px !important;
		}
	}

	&__prods-number {
		display: none;
	}

	&__apply {
		@include btn;
		margin: 20px auto 0 auto;

		@media screen and (min-width:641px) {
			display: none !important;
		}

		&::after {
			content: 'применить';
		}
	}

}