//.t-store
.t-popup {
	background-color: $primary-color;

	&__container {
		margin-bottom: 30px;
		background-color: $primary-color;

		@include max(560) {
			margin-top: 60px !important; //отступ для меню
		}
	}

	&__close {
		&-wrapper {
			height: 60px;
			border: 0 none !important;
			background-color: $primary-color;

			@include if('2steblya') {
				* {
					opacity: 1 !important;
					color: $contrprimary-color;
				}
			}

			svg path {
				fill: $contrprimary-color;
			}
		}

		&-icon {
			@include if('stf') {
				opacity: .2;
			}

			&_arrow {
				@include max(560) {
					top: 18px;
				}
			}

			g {
				fill: $contrprimary-color;
			}
		}
	}


}

&__prod-popup__close-txt {

	font-size: 20px;
	opacity: 1;
	color: $contrprimary-color !important;

	@include if('stf') {
		opacity: .2;
	}
}

.t-store__relevants__container {
	display: none;
}

&__prod-snippet__container {
	padding: 80px 0 0 0;
}