//скрываем витрину
[class*="vitrina"] {
	//display: none;
}

.uc-vitrina {

	//заголовок
	&__title {
		@include if('2steblya') {
			@media screen and (min-width: 961px) {
				.t-descr {
					display: none;
				}
			}
		}
	}

	//каталог
	&__catalog {
		@include if('2steblya') {
			background-image: url('https://static.tildacdn.com/tild3939-3961-4539-b565-653438303236/vitrina_02.jpg');
			background-size: 800px;
			background-repeat: no-repeat;
			background-position: top center;
		}
	}
}