//простой текст
.t004 {
	@include if('stf') {
		text-align: left !important;
	}
}

//Прямая речь
.t013 {

	&__autor-descr {
		font-size: .83em !important;
		opacity: .5;
	}

	@include max(960) {
		&__centeredsection {
			margin-bottom: 0;
		}

		&__autor-title {
			font-size: 26px;
		}
	}
}

//Изображение
.t107 {
	img {
		width: 360px;
		height: 360px;
	}
}

//Изображения в три колонки
.t214 {
	&__textwrapper {
		display: none;
	}

	&__col {
		margin-bottom: 0 !important;
	}

	&__blockimg {
		margin-bottom: 0;
	}

	&__scroll-icon-wrapper {
		display: none !important;
	}

	@include max(960) {
		& .t-row {
			display: flex;
			justify-content: space-between;
		}

		&__col {
			float: left;
			width: 30%;
			height: 0;
			padding: 0 0 30% 0;
			margin: 0 15px;
			position: relative;

			&:nth-child(2) {
				margin: 0;
			}
		}

		&__blockimg {
			width: 100%;
			height: 0;
			padding-bottom: 100%;
		}
	}
}

//Универсальное меню с логотипом слева
.t228 {
	background-color: $primary-color;
	font-weight: 600;

	.t-menu__link-item {
		color: $contrprimary-color !important;
		font-size: $text-font-size !important;
	}

	.t-sociallinks__svg {
		path {
			fill: $contrprimary-color;
		}
	}
}

//Колонки с цифрами в кружочках
.t502 {

	&__circle {
		font-size: 0 !important;
		line-height: 0 !important;
		border-radius: 0;
		background: transparent;
		color: transparent !important;

		&::before {
			content: '';
			display: block;
			width: 100%;
			padding-top: 100%;
			border-radius: 50%;
			background-position: center;
			background-size: contain;
			background-repeat: no-repeat;
		}
	}

	@include max(960) {

		&__tablewrapper,
		&__circlewrapper,
		&__textwrapper {
			display: block;
		}

		&__textwrapper {
			padding-left: 0;
			padding: 20px 0;
		}

		&__circle {
			max-width: unset;
			max-height: unset;
			width: 100%;
			height: auto;

			&::before {
				width: 80px;
				height: 80px;
				margin: 0 auto;
				padding-top: 0;
			}
		}
	}
}

//Текст в раскрывающихся карточках
.t668,
.t585 {
	&__trigger-button {
		cursor: pointer;
	}

	&__header {
		border: 0 none !important;
	}

	&__border {
		display: none;
	}

	&__title {
		font-size: $text-font-size !important;
		line-height: 1.5 !important;
		font-weight: 600;
		padding-right: 50px;
	}

	&__textwrapper {
		padding-right: 50px;

		@include if('2steblya') {
			text-align: center;
		}

		@include if('stf') {
			text-align: left;
		}
	}

	&__img {
		max-width: 100px;
		max-height: 100px;
		margin-left: auto;
		margin-right: auto;
		border-radius: 50%;
	}

	&__icon &__lines svg>g {
		stroke-width: 2px;
	}

	&__icon-hover &__lines {
		g g {
			@include if('2steblya') {
				stroke: $contrprimary-color;
			}

			@include if('stf') {
				stroke: $primary-color;
			}
		}
	}

	&__icon-hover &__circle {
		background-color: $secondary-color !important;
	}

}

//Лента инстаграм
.t802 {
	&__container {
		position: relative;

		&::before {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			width: 100%;
			text-align: center;
			display: block;
			box-sizing: border-box;
			font-size: 14px;
			line-height: 1.5;
			color: $contrprimary-color;
			font-family: $card-font;
			font-weight: 300;
			padding: 0 20px;
			opacity: .5;

			@include if('2steblya') {
				content: 'черт чета черная дыра засосала наш запретграм\Aну чё сидишь думаешь? подрубай випиэн';
			}

			@include if('stf') {
				content: 'Скорее всего вам необходимо включить VPN, чтобы загрузились картинки';
			}

			@include max(500) {
				white-space: pre;
			}
		}
	}

	&__col {
		position: relative;
		z-index: 10;
	}

	&__imgwrapper_empty {
		background: none
	}
}

//Виджет с мессенджерами
.t825 {
	&__btn_wrapper {
		box-shadow: none;
	}
}

//Поток: Сетка для новостей или блога
.t897 {
	.t-menu__link-item {
		@include btn;

		&.t-active {
			background-color: $secondary-color !important;
			border-color: $secondary-color !important;

			* {
				color: $primary-color !important;
				opacity: 1;
			}
		}
	}

	.t-feed__col-grid__wrapper {
		height: auto !important;
	}

	.t-section__topwrapper {
		display: none;
	}
}

//Меню в виде табов
.t976 {
	&__list-item a {
		overflow: visible;
		@include btn;

		&::after {
			color: $primary-color;
			background-color: $secondary-color;
			font-weight: 400;
			font-family: $text-font-size;
			font-size: 12px;
			border-radius: 50%;
			display: block;
			text-align: center;
			width: 34px;
			line-height: 34px;
			position: absolute;
			top: -14px;
			right: -6px;
			z-index: 99;
		}
	}
}

//Меню: второй уровень
.t978 {
	.t-name {
		font-size: $text-font-size;
		font-weight: 0;
	}
}

//поиск
.t985 .t-search-widget {
	&__blockinput {
		border: 0 none !important;
		background-color: $contrprimary-color;
	}

	&__header {
		background-color: $primary-color;
	}

	&__close-icon path {
		stroke: $contrprimary-color;
	}

	&__clear-icon {
		margin-left: 10px;

		@include if('2steblya') {
			background: none;
			opacity: .5;

			& path {
				stroke: $contrprimary-color;
			}
		}
	}

	&__resultwrapper {
		text-align: left;
	}

	&__query-result {
		margin: 40px 0;
	}

	&__result {
		margin-bottom: 40px;
		border: 0 none !important;

		&_product-img {
			border: 0 none;
		}
	}

	&__popup {
		background-color: $primary-color;
	}

	&__result_product-price {
		font-weight: 100;
	}

	&__pagination-active {
		background-color: $secondary-color;
	}

	&__pagination-next,
	&__pagination-prev {
		path {
			stroke: $contrprimary-color;
		}
	}
}

//Избранное
.t1002 {
	&__addBtn {
		margin-left: 10px;

		&_active {
			svg path {
				stroke: $secondary-color;
				fill: $secondary-color
			}
		}
	}

	&__bubble {
		border-radius: 5px;

		@include if('2steblya') {
			background-color: $secondary-color;
		}

		@include if('stf') {
			background-color: $contrprimary-color;
		}

		& * {
			color: $primary-color;
		}

		&-text {
			font-family: $text-font;
			font-size: $text-font-size;
		}
	}

	&__wishlistwin-heading {
		text-transform: lowercase;
		font-weight: 100 !important;
		opacity: .5;
	}

	&__close {
		opacity: .2;
	}

	&__product {
		align-items: start;

		&-link {
			font-weight: 400;
			font-size: calc($text-font-size + 2px);
			line-height: 1.1;
			text-transform: uppercase;
		}

		&-imgdiv {
			border: 0 none;
			border-radius: 0;
		}

		&-title__option {
			font-size: $text-font-size;
			font-weight: 100;

			&>div:last-child {
				display: none;
			}

			&::first-letter {
				text-transform: lowercase;
			}

			&:last-child {
				display: none;
			}
		}
	}

	&__product-del {
		margin-left: 15px;
	}
}

//Бегущая строка
.t1003 {
	.t-text {

		@include if('2steblya') {
			font-weight: 600;
			color: $secondary-color;
		}

		@include if('stf') {
			font-weight: 400;
			color: $secondary-color;
		}
	}
}

//Три вертикальных блока в рамках
.t1032 {
	@media screen and (max-width: 960px) {
		&__col {
			margin-bottom: 0;

			&:not(:first-child)>div {
				padding-top: 0;
			}
		}
	}
}