//скрываем витрину
[class*="vitrina"] {
	display: none;
}

.uc-vitrina {

	//заголовок
	&__title {
		@media screen and (min-width: 961px) {
			.t-descr {
				display: none;
			}
		}
	}

	//каталог
	&__catalog {
		text-align: center;
		background-repeat: no-repeat;
		background-position: top center;

		.t-store {
			padding: 0 30px;
		}

		//товар
		.t-store__grid-cont {
			padding: 0 !important;

			.js-product {
				margin: 0 !important;
				padding: 0 !important;
				width: 100% !important;
				max-width: 360px;

				.card {
					&__container {
						padding: 25px;

						&::before {
							display: none;
						}
					}

					&__title {
						font-size: 1.6em !important;
					}

					&__text,
					&__buket {
						font-size: .8em;
					}

					&__your-text {
						display: none;
					}
				}

				.t-store__card__descr {
					display: none;
				}
			}
		}

		//карусель
		.owl {
			&-loaded {
				position: relative;
				max-width: 1000px;
			}

			&-item {
				display: inline-block;
			}

			&-nav {
				&.disabled {
					display: none;
				}

				width: 100%;
				position: absolute;

				$o: &;

				button {
					&.disabled {
						display: none;
					}

					@include navButton(#{$o}+' .owl-prev', #{$o}+' .owl-next');
					position: absolute;
					top: 0;
				}

				@at-root {
					#{$o} .owl-next {
						right: -15px;
					}

					#{$o} .owl-prev {
						left: -15px;
					}
				}
			}


		}

	}
}